.default {
	&__title {
		@include general-title;
		color: $cor-primaria;
		&.smaller {
			font-size: 32px;
		}
		@include media(s) {
			text-align: center;
		}
	}
	&__desc {
		@include text;
	}
}

.header {
	padding: 17px 0px;
	&__container {
		@include container;
		@include media(s) {
			padding: 0 24px;
		}
		.button {
			&:hover {
				color: $neutro-50;
			}
		}
	}
	.navbar-nav {
		gap: 32px;
	}
	.navbar {
		padding: 0;
		.container-fluid {
			padding: 0;
		}
		.navbar-toggler {
			padding: 0px;
			outline: none;
			appearance: none;
			&:focus {
				border: none;
				outline: none;
				box-shadow: none;
			}
		}
		.navbar-toggler-icon {
			img {
				width: 32px;
				height: 32px;
			}
		}
	}
	.nav-link {
		color: #7630eb;
		font-weight: bold;
		text-transform: uppercase;
		text-decoration: none;
	}
}
.hero {
	background-image: url("../assets/bg.png?as=webp");
	@include media(s) {
		background-size: cover;
	}
	&__container {
		display: flex;
		padding: 80px 0px;
		justify-content: center;
		@include container;
		gap: 64px;
		color: $neutro-50;
		@include media(s) {
			flex-direction: column;
			padding: 20 24px 60px;
		}
	}
	&__form {
		padding: 48px;
		background-color: $neutro-50;
		max-width: 588px;
		@include media(s) {
			padding: 24px;
		}
		@include l-border;
		.default__title {
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: 125%;
			max-width: 460px;
			margin: 0 auto;
			color: #383838;
			@include media(s) {
				font-size: 20px;
			}
		}

		.default__desc {
			font-size: 32px;
			font-style: normal;
			font-weight: 500;
			line-height: 100%; /* 32px */
			letter-spacing: -2.24px;
			color: $cor-primaria;
			text-align: center;
			margin: 16px 0;
			@include media(s) {
				font-size: 24px;
			}
		}
		.contact__form {
			padding: 0px;
			border-radius: 0px;
		}
		.input_wrap {
			width: 100%;
			input {
				width: 100%;
				max-width: 100%;
			}
			select {
				width: 100%;
			}
		}
		button {
			display: block;
			margin: 0 auto;
			background-color: $cor-primaria-clara;
		}
	}
	&__logo {
		margin-bottom: 32px;
		@include media(s) {
			margin-bottom: 24px;
		}
		img {
			max-width: 100%;
			height: auto;
		}
	}
	&__img {
		max-width: 503px;
		height: auto;
		@include media(s) {
			display: none;
		}
		img {
			max-width: 100%;
			height: auto;
			object-fit: cover;
			border: 8px solid $cor-primaria-clara;
			@include l-border;
		}
	}
	&__content {
		max-width: 588px;
		padding-top: 32px;
		.button--container {
			display: flex;
			gap: 16px;
			@include media(s) {
				gap: 8px;
			}
		}
		.button.no-color {
			color: $neutro-50;
		}
	}
	&__title {
		@include hero;
		margin-bottom: 16px;
		font-size: 40px;
		line-height: 50px;
		font-weight: 800;
	}
	&_sub-title {
		@include hero;
		margin: 24px 0;
		font-size: 30px;
		font-style: normal;
		font-weight: 700;
		line-height: 48px;
	}
	.default__desc {
		b {
			margin: 24px 0;
			display: block;
			font-size: 20px;
			font-style: normal;
			font-weight: 700;
			line-height: 150%;
		}
	}
	&.estrategia {
		background: #fff;
		.hero__img {
			max-width: 576px;
			img {
				border: none;
				border-radius: 0;
				object-fit: cover;
			}
		}
		.hero__content {
			padding-top: 0;
		}
		.hero__title {
			font-size: 40px;
			font-style: normal;
			font-weight: 700;
			line-height: 48px;
			color: $cor-primaria-clara;
			margin: 24px 0;
			@include media(s) {
				font-size: 32px;
				line-height: 40px;
			}
		}
		.hero_sub-title {
			color: $cor-primaria;
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: 38px;
			@include media(s) {
				font-size: 24px;
				line-height: 32px;
			}
		}
		.default__desc {
			color: #383838;
		}
	}
	&.funcionalidades {
		.hero__container {
			gap: 10px;
		}
		.hero__img {
			max-width: 649px;
			img {
				border: none;
				border-radius: 0;
				object-fit: cover;
			}
		}
		.hero__content {
			padding-top: 0;
			max-width: 561px;
		}
		.hero__title {
			font-size: 40px;
			font-style: normal;
			font-weight: 700;
			line-height: 48px;
			@include media(s) {
				font-size: 32px;
				line-height: 40px;
			}
		}
		.hero_sub-title {
			font-size: 32px;
			font-style: normal;
			font-weight: 700;
			line-height: 38px;
			@include media(s) {
				font-size: 24px;
				line-height: 32px;
			}
		}
		.default__desc {
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
			max-width: 497px;
			margin: 24px 0;
			@include media(s) {
				font-size: 20px;
				line-height: 24px;
			}
		}
	}
}
.resources {
	.card-resources {
		max-width: 214px;
		padding: 24px;
		height: 234px;
		@include media(s) {
			max-width: 155px;
			padding: 12px;
			height: 100%;
		}
		&__icon {
			padding: 11px;
			margin-bottom: 16px;
		}
		.default__desc {
			margin-bottom: 0;
			font-size: 17px;
			font-style: normal;
			font-weight: 700;
			line-height: 144%;
			color: #383838;
			@include media(s) {
				font-size: 12px;
			}
		}
	}
	&.estrategia {
		@include media(s) {
			padding-top: 0;
		}
		.card-resources {
			max-width: 292px;
			height: 664px;
			@include media(s) {
				height: 100%;
				max-width: 100%;
			}
			.default__desc {
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
				color: #383838;
				b {
					font-size: 16px;
					font-style: normal;
					font-weight: 700;
					line-height: 150%;
					display: block;
					color: $cor-primaria;
					text-transform: uppercase;
					margin-bottom: 24px;
				}
				span {
					display: block;
					margin-bottom: 24px;
					font-size: 16px;
					font-style: normal;
					font-weight: 700;
					line-height: 150%;
				}
			}
			&:nth-child(5),
			&:nth-child(6),
			&:nth-child(7) {
				max-width: 397px;
				height: 686px;
				@include media(s) {
					max-width: 100%;
					height: 100%;
				}
			}
		}
	}
	&.planos {
		.resources__content {
			margin-bottom: 54px;
		}
		.default__title {
			font-size: 40px;
			font-style: normal;
			font-weight: 700;
			line-height: 48px;
			color: $cor-primaria-clara;
			@include media(s) {
				font-size: 28px;
				line-height: 36px;
			}
			&.smaller-title {
				font-size: 30px;
				font-style: normal;
				font-weight: 700;
				line-height: 150%;
				color: #383838;
				max-width: 900px;
				text-align: center;
				@include media(s) {
					text-align: left;
				}
			}
		}
		.button {
			background-color: $cor-primaria-clara;
		}
		.card-resources {
			max-width: 376px;
			padding: 32px;
			height: 100%;
			.default__desc {
				font-size: 16px;
				font-style: normal;
				font-weight: 400;
				line-height: 150%;
				color: #383838;
				b {
					font-size: 20px;
					font-style: normal;
					font-weight: 700;
					line-height: 150%;
					display: block;
					color: $cor-primaria;
					text-transform: uppercase;
					margin-bottom: 12px;
				}
				span {
					display: block;
					font-size: 30px;
					font-style: normal;
					font-weight: 700;
					line-height: 150%;
					margin-bottom: 16px;
				}
			}
		}
	}
	padding: 80px 0px;
	@include media(s) {
		padding: 60px 0px;
	}
	&__container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		@include media(s) {
			padding: 0 24px;
		}
	}
	.default__title {
		color: $cor-primaria;
		margin-bottom: 54px;
		@include media(s) {
			font-size: 24px;
			margin-bottom: 24px;
			text-align: left;
		}
	}
	.default__desc {
		color: $texto-legenda;
		margin-bottom: 32px;
	}
	&__content {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 24px;
		flex-wrap: wrap;
		margin-bottom: 32px;
		@include container;
		&.scroll {
			@include media(s) {
				gap: 16px;
			}
		}
	}
}
.slider {
	&_container {
		@include container;
		position: relative;
		@include media(s) {
			padding: 0 24px;
		}
		.default__title {
			color: #fff;
			text-align: center;
			@include media(s) {
				text-align: left;
			}
		}
		.next {
			position: absolute;
			right: 0;
			bottom: 40px;
			background-color: transparent;
			border: none;
			&.slick-disabled {
				display: none;
			}
			@include media(s) {
				display: none !important;
			}
		}
		.prev {
			position: absolute;
			right: left;
			bottom: 40px;
			background-color: transparent;
			border: none;
			@include media(s) {
				display: none !important;
			}
			&.slick-disabled {
				display: none;
			}
			img {
				transform: scaleX(-1);
			}
		}
		.default__desc {
			font-size: 25px;
			font-style: normal;
			font-weight: 400;
			line-height: 150%;
			color: #fff;
			text-align: center;
			margin: 24px 0 40px;
			@include media(s) {
				text-align: left;
				margin: 24px 0;
				font-size: 20px;
			}
		}
	}
	&-slick {
		position: relative;

		&::after {
			content: "";
			background: rgb(70, 50, 138);
			background: linear-gradient(270deg, rgba(70, 50, 138, 1) 14%, rgba(70, 50, 138, 0) 100%);
			width: 100px;
			height: 112px;
			position: absolute;
			right: -20px;
			top: 0;
			@include media(s) {
				display: none;
			}
		}
	}
	.slick-list {
		margin: 0 -16px;
	}
	&_card {
		background-color: #f6f6f6;
		height: 112px;
		text-align: center;
		padding: 32px 40px;
		border-radius: 8px;
		border: 1px solid #f6f6f6;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.04);
		margin: 0 16px;
		img {
			text-align: center;
			margin: 0 auto;
		}
	}
	background: url("../assets/bg.png?as=webp");
	padding: 100px 0;
}
.testimonials {
	padding: 80px 0px;
	background: url("../assets/bg-2.png") no-repeat center;
	@include media(s) {
		background-size: cover;
	}
	@include media(s) {
		padding: 60px 0px;
	}
	&__container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		@include container;

		@include media(s) {
			padding: 0px 24px;
		}
		.tag {
			display: inline-block;
		}
		.default__title {
			margin: 24px 0px;
			@include media(s) {
				font-size: 24px;
				text-align: left;
			}
		}
		.default__desc {
			color: #383838;
			margin-bottom: 48px;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: 125%;
			text-align: center;
			@include media(s) {
				font-size: 16px;
				text-align: left;
			}
		}
	}
	&__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		gap: 24px;
		margin-bottom: 48px;
	}
	&__card {
		max-width: 624px;
		padding: 32px 40px;
		@include s-border;
		background-color: #fff;
		border: 1px solid #fff;
		@include l-shadow;
		@include media(s) {
			padding: 24px;
			text-align: left;
		}
		&--text {
			b {
				display: block;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: 119%;
				color: $cor-primaria-clara;
				text-align: center;
				margin-bottom: 24px;
				@include media(s) {
					text-align: left;
					font-size: 20px;
				}
			}
			@include text;
			text-align: center;
			font-weight: 600;
			color: $texto-resources;
			@include media(s) {
				font-size: 14px;
				text-align: left;
			}
		}
	}
}
.contact {
	background-color: $cor-primaria;
	padding: 80px 0px;
	@include media(s) {
		padding: 60px 0px;
	}
	&__container {
		@include container;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		@include media(s) {
			padding: 0 24px;
		}
		.default__title {
			color: $neutro-50;
			text-align: center;
			margin: 24px 0px;
		}
		.default__desc {
			color: $neutro-50;
			text-align: center;
			margin-bottom: 64px;
			@include media(s) {
				margin-bottom: 40px;
			}
		}
		.tag {
			background-color: rgba(255, 255, 255, 0.16);
			&__text {
				color: $neutro-50;
			}
		}
	}
	&__form {
		width: 100%;
		display: flex;
		gap: 16px;
		background-color: #fff;
		padding: 64px;
		flex-wrap: wrap;
		@include media(s) {
			padding: 32px;
		}
		.form-gap {
			flex-wrap: wrap;
		}
		@include l-border;
		input {
			max-width: 300px;
		}
		.button {
			border: none;
			@include media(s) {
				width: 100%;
			}
		}
	}
}

.footer {
	background-color: $cor-primaria;
	padding: 48px 0px;
	color: $neutro-50;
	&__container {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
	}
	&__logo {
		margin-bottom: 24px;
		img {
			max-width: 100%;
			height: auto;
		}
	}
}
