<section class="resources">
	<div class="resources__container">
		<h2 class="default__title" data-aos="fade-down" data-aos-delay="300">Como transformar informação em vendas?</h2>

		<div class="resources__content scroll">
			<div class="card-resources" data-aos="fade-right" data-aos-delay="300">
				<div class="card-resources__icon"><img src="./assets/show-chart.svg" alt="" /></div>
				<p class="default__desc">Com qualidade e confiabilidade dos dados</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="400">
				<div class="card-resources__icon"><img src="./assets/person-search.svg" alt="" /></div>
				<p class="default__desc">Embasamento científico para extrapolação  de perfil comportamental</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="500">
				<div class="card-resources__icon"><img src="./assets/speed.svg" alt="" /></div>
				<p class="default__desc">Velocidade máxima na execução do enriquecimento e segmentação</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="600">
				<div class="card-resources__icon"><img src="./assets/settings.svg" alt="" /></div>
				<p class="default__desc">Automatização integrada de mídia paga para otimização de campanhas</p>
			</div>
			<div class="card-resources" data-aos="fade-right" data-aos-delay="700">
				<div class="card-resources__icon"><img src="./assets/analytics.svg" alt="" /></div>
				<p class="default__desc">Profundidade e qualidade das informações psicográficas dos clientes</p>
			</div>
		</div>
	</div>
</section>
