<section class="testimonials">
	<div class="testimonials__container">
		<div class="tag">
			<p class="tag__text">CASE DE SUCESSO</p>
		</div>
		<h3 class="default__title">Descontos personalizados para drogarias</h3>
		<p class="default__desc">
			Já recebeu descontos personalizados ao fornecer seu CPF em alguma farmácia? Se a resposta for “sim”, nossas soluções já estão presentes no seu dia a dia!
			<br /><br />
			Uma rede de drogarias com com milhares de farmácias em todo o Brasil utiliza nossa API de dados para gerar uma filipeta com ofertas personalizadas para
			cada cliente.
		</p>

		<div class="testimonials__content">
			<div class="testimonials__card">
				<p class="testimonials__card--text">
					<b>Esse perfil é uma parte crucial de nossa qualificação de persona.</b>

					O processo é resultado de uma análise cuidadosa a partir do perfil psicográfico de cada cliente, parte essencial de nossa estratégia de qualificação
					de persona, permitindo uma abordagem personalizada e direcionada.
				</p>
			</div>
		</div>
	</div>
</section>
